<h1>Welcome to Bidtastic <%= @user.name %>.</h1>

<p>You have successfully signed up to Bidtastic.com.</p>

<p>Please follow this link to login to <%= link_to('Bidtastic', @url) %></p>

<p>Thanks for joining and have a great day.</p>
