body {
  background-color: #FFDAB9;
  padding: 0;
  margin: 0;
}

.bidtastic-navbar-brand {
  padding: 8px 0;
}

.navbar-nav > li > a {
  line-height: 5px;
  margin-top: 8px;
  text-decoration: none;
  font-size: 20px;
}

.jumbotron-app {
  background-color: rgba(020, 0, 0, 0.4);
  color: white;
}

.col-auction {
  margin-top: 40px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(47, 46, 47);
  border: solid;
  border-color: inherit;
  padding-bottom: 2em;
}



.container {
  .media-image{
    align-items: center;
  }

  .item-for-bid {
    padding: 1em;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(47, 46, 47);
    border: solid;
    border-color: inherit;
  }

  .main {
    align-content: center;
  }



  .well{
    body {
      background: #f5f5f5;
    }
    
    #timer {
      font-family: Arial, sans-serif;
      font-size: 20px;
      color: #999;
      letter-spacing: -1px;
    }
    #timer span {
      font-size: 60px;
      color: #333;
      margin: 0 3px 0 15px;
    }
    #timer span:first-child {
      margin-left: 0;
    }
  }

  .favorite-item.favorited{
    color: red;
  }
}
